<form action="/create_superhero" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="superhero[name]">
  <br>
  <label for="superpower1">Super Power 1</label>
  <textarea id="superpower1" name="superpowers[superpower1]"></textarea>
  <br>
  <label for="superpower2">Super Power 2</label>
  <textarea id="superpower2" name="superpowers[superpower2]"></textarea>
  <br>
  <label for="superpower3">Super Power 3</label>
  <textarea id="superpower3" name="superpowers[superpower3]"></textarea>
  <br>
  <input type="submit" value="Submit">
</form>